.fadeOut {
    opacity: 0.0
}

.fadeIn{
    opacity: 1.0
}

.hide {
    display: none
}

.show {
    display: block
}

.resultsView {
    transition: opacity 0.2s ease-in-out;
}

.formView {
    transition: opacity 0.2s ease-in-out;
}
